html,body {
    display: flex;
    width:100vw;
    height: 100vh;
    margin: 0;
}
.bg-wall{
	position: fixed;
	left: 7%;
	transform: scale(1.2);
}
.bg-shadowAbove{
	position: fixed;
	top: -10%;
	left: -18.5%;
	transform: scale(0.9);
	mix-blend-mode: multiply;
	pointer-events: none;
	background: none;
}
.A{
	position: fixed;
	top: 36.7%;
	left: 24.8%;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
}
#A1{position: fixed;}
#A2{position: fixed;display: none;}
#A3{position: fixed;display: none;}
#A4{position: fixed;display: none;}
#A5{position: fixed;display: none;}
#A6{position: fixed;display: none;}
#A7{position: fixed;display: none;}
#A8{position: fixed;display: none;}
#A9{position: fixed;display: none;}
#A10{position: fixed;display: none;}
#A11{position: fixed;display: none;}
#A12{position: fixed;display: none;}
#A13{position: fixed;display: none;}
#A14{position: fixed;display: none;}
#A15{position: fixed;display: none;}
#A16{position: fixed;display: none;}
#A17{position: fixed;display: none;}
#A18{position: fixed;display: none;}
#A19{position: fixed;display: none;}
#A20{position: fixed;display: none;}
#A21{position: fixed;display: none;}
#A22{position: fixed;display: none;}
#A23{position: fixed;display: none;}
#A24{position: fixed;display: none;}
#A25{position: fixed;display: none;}
#A26{position: fixed;display: none;}
#A27{position: fixed;display: none;}
#A28{position: fixed;display: none;}
#A29{position: fixed;display: none;}
#A30{position: fixed;display: none;}
#A31{position: fixed;display: none;}

#A32{
	position: fixed;
	top: 50%;
	left: 30%;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
	display: none;}

.B{
	position: fixed;
	top: 40%;
	left: 26.5%;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
}
.B1{position: fixed;display: none;}
.B2{position: fixed;display: none;}
.B3{position: fixed;display: none;}
.B4{position: fixed;display: none;}
.B5{position: fixed;display: none;}
.B6{position: fixed;display: none;}
.B7{position: fixed;display: none;}
.B8{position: fixed;display: none;}
.B9{position: fixed;display: none;}
.B10{position: fixed;display: none;}
.B11{position: fixed;display: none;}
.B12{position: fixed;display: none;}
.B13{position: fixed;display: none;}
.B14{position: fixed;display: none;}
.B15{position: fixed;display: none;}
.B16{position: fixed;display: none;}
.B17{position: fixed;display: none;}
.B18{position: fixed;display: none;}
.B19{position: fixed;display: none;}
.B20{position: fixed;display: none;}
.B21{position: fixed;display: none;}
.B22{position: fixed;display: none;}
.B23{position: fixed;display: none;}
.B24{position: fixed;display: none;}
.B25{position: fixed;display: none;}
.B26{position: fixed;display: none;}
.B27{position: fixed;display: none;}
.B28{position: fixed;display: none;}
.B29{position: fixed;display: none;}
.B30{position: fixed;display: none;}
.B31{position: fixed;display: none;}

#C1{
	position: fixed;
	top: 45px;
	left: 15px;
	transform: scale(0.8) rotate(27deg);
	box-shadow: -3px 2px 6px #888888;
}
#C2{
	position: fixed;
	top: 75px;
	left: 40px;
	transform: scale(0.8) rotate(-83deg);
	box-shadow: -2px -3px 6px #888888;
}
#C3{
	position: fixed;
	top: 30px;
	left: 60px;
	transform: scale(0.8) rotate(-8deg);
	box-shadow: -3px 2px 6px #888888;
}
#C4{
	position: fixed;
	top: 85px;
	left: 5px;
	transform: scale(0.6) rotate(-30deg);
	box-shadow: -3px 2px 6px #888888;
}
#C5{
	position: fixed;
	top: 90px;
	left: -5px;
	transform: scale(0.8) rotate(-12deg);
	box-shadow: -3px 2px 6px #888888;
}

.D{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: none;
}
#D39,#D40,#D41,#D42{
	box-shadow: -10px 10px 30px #555555;
}

.shade{
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.4;
	display: none;
}

#box{
	position: fixed;
	height: 580px;
	width: 1240px;
	display: flex;
	padding: 0px;
	margin: 0px;
}

audio{
	display: none;
}